em {
    border-bottom: 2px dotted;
    font-style: normal;
    padding-bottom: .05em;
}

p {
    margin: 0;
}

ul li {
    margin-bottom: 2px;
}*/
ul { margin-top:0}
h1, h2, h3, h4, h5, h6 {margin-top:10px; margin-bottom:0}
p, blockquote, ul, ol, dl, table, pre {
  margin-top: 0;
}
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: 0;
}